<div
  class="grid grid-cols-1 md:items-center gap-y-20 md:grid-cols-2 lg:gap-x-14 md:max-w-7xl md:ml-auto"
>
  <section class="relative md:order-2">
    <div
      class="h-[80%] bg-softBlue w-[85%] lg:top-32 md:h-[75%] absolute -z-20 top-20 rounded-l-full right-0"
    ></div>
    <div class="flex justify-center lg:mr-10">
      <img src="./images/illustration-hero.svg" alt="" class="" />
    </div>
  </section>

  <section
    class="text-center border md:text-left md:order-1 max-w-2xl mx-auto px-6"
  >
    <h1 class="text-4xl md:text-5xl leading-snug font-medium text-veryDarkBlue">
      A Simple Bookmark Manager
    </h1>
    <p class="text-grayishBlue mt-5 md:mt-7 leading-relaxed md:max-w-md">
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free.
    </p>

    <div class="space-x-4 mt-10 flex flex-row">
      <div>
        <button
          class="bg-softBlue shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-4 text-white font-medium rounded-md tracking-wide"
        >
          Get in on Chrome
        </button>
      </div>

      <div>
        <button
          class="bg-gray-100 shadow-lg shadow-blue-100 px-5 hover:bg-white hover:border-2 hover:border-grayishBlue transition-colors cursor-pointer text-slate-600 py-4 font-medium rounded-md tracking-wide"
        >
          Get in on Chrome
        </button>
      </div>
    </div>
  </section>
</div>
