<!-- extension section -->
<div>
  <!-- extension heading -->
  <section class="text-center max-w-lg mx-auto px-6">
    <h2 class="text-2xl md:text-3xl leading-snug font-medium text-veryDarkBlue">
      Download the extension
    </h2>
    <p class="text-grayishBlue mt-3 md:mt-5 leading-relaxed md:max-w-md">
      We've got more browsers in the pipeline. Please do let us know if you've
      got a favourite you'd like us to priortize.
    </p>
  </section>

  <!-- Download platforms -->
  <section
    class="max-w-xs md:px-6 md:h-[550px] mt-10 flex flex-col md:flex-row md:max-w-5xl gap-10 mx-auto md:mx-auto justify-center"
  >
    <!-- ===== Chrome === -->

    <div
      class="text-center md:self-start rounded-2xl shadow-xl shadow-gray-200 space-y-9 pt-14 pb-8"
    >
      <!-- logo -->
      <div class="flex justify-center">
        <img src="./images/logo-chrome.svg" alt="chrome" />
      </div>
      <div>
        <h2 class="text-xl leading-snug font-medium text-veryDarkBlue">
          Add to Chrome
        </h2>
        <p class="text-grayishBlue mt-2 leading-relaxed md:max-w-md">
          Minimum version 62
        </p>

        <!-- dotted bg -->
        <img src="./images/bg-dots.svg" alt="" class="w-full mt-11" />

        <!-- button -->
        <div class="px-7">
          <button
            class="bg-softBlue w-full mt-8 shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-4 text-white font-medium rounded-md tracking-wide"
          >
            Add & Install Extension
          </button>
        </div>
      </div>
    </div>

    <!-- ===== firefox === -->

    <div
      class="text-center md:self-center rounded-2xl shadow-xl shadow-gray-200 space-y-9 pt-14 pb-8"
    >
      <!-- logo -->
      <div class="flex justify-center">
        <img src="./images/logo-firefox.svg" alt="chrome" />
      </div>
      <div>
        <h2 class="text-xl leading-snug font-medium text-veryDarkBlue">
          Add to Firefox
        </h2>
        <p class="text-grayishBlue mt-2 leading-relaxed md:max-w-md">
          Minimum version 55
        </p>

        <!-- dotted bg -->
        <img src="./images/bg-dots.svg" alt="" class="w-full mt-11" />

        <!-- button -->
        <div class="px-7">
          <button
            class="bg-softBlue w-full mt-8 shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-4 text-white font-medium rounded-md tracking-wide"
          >
            Add & Install Extension
          </button>
        </div>
      </div>
    </div>

    <!-- ===== Opera === -->

    <div
      class="text-center md:self-end rounded-2xl shadow-xl shadow-gray-200 space-y-9 pt-14 pb-8"
    >
      <!-- logo -->
      <div class="flex justify-center">
        <img src="./images/logo-opera.svg" alt="chrome" />
      </div>
      <div>
        <h2 class="text-xl leading-snug font-medium text-veryDarkBlue">
          Add to Opera
        </h2>
        <p class="text-grayishBlue mt-2 leading-relaxed md:max-w-md">
          Minimum version 46
        </p>

        <!-- dotted bg -->
        <img src="./images/bg-dots.svg" alt="" class="w-full mt-11" />

        <!-- button -->
        <div class="px-7">
          <button
            class="bg-softBlue w-full mt-8 shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-4 text-white font-medium rounded-md tracking-wide"
          >
            Add & Install Extension
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
