<!-- =======faq section -->
<div>
  <!-- faq heading -->
  <section class="text-center max-w-lg mx-auto px-6">
    <h2 class="text-2xl md:text-3xl leading-snug font-medium text-veryDarkBlue">
      Frequently Asked Questions
    </h2>
    <p class="text-grayishBlue mt-3 md:mt-5 leading-relaxed md:max-w-md">
      Here are some of our FAQS. If you have any other questions you'd like
      answered please feel free to email us.
    </p>
  </section>

  <!-- faq QA -->
  <section class="faq-section mt-12 md:mt-16 max-w-lg px-8 mx-auto md:max-w-xl">
    <!-- first question -->
    <div class="border-b md:border-t py-5">
      <div class="questions flex justify-between items-center">
        <p class="text-veryDarkBlue text-base">What is Bookmark?</p>
        <aside class="">
          <img
            src="./images/icon-arrow.svg"
            alt=""
            class="scale-110 arrow cursor-pointer transition-transform duration-200"
          />
        </aside>
      </div>
      <article
        class="text-grayishBlue h-0 overflow-hidden transition-all duration-200 text-base leading-relaxed md:max-w-md"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis
          quam ornare mattis.
        </p>
      </article>
    </div>

    <!-- second question -->
    <div class="border-b py-5">
      <div class="questions flex justify-between items-center">
        <p class="text-veryDarkBlue text-base">
          How can I request a new browser?
        </p>
        <aside class="">
          <img
            src="./images/icon-arrow.svg"
            alt=""
            class="scale-110 arrow cursor-pointer transition-transform duration-200"
          />
        </aside>
      </div>
      <article
        class="text-grayishBlue h-0 overflow-hidden transition-all duration-200 text-base leading-relaxed md:max-w-md"
      >
        <p>
          Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
          ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
          aliquet convallis ultricies. Mauris augue massa, ultricies non ligula.
          Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies.
          Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        </p>
      </article>
    </div>

    <!-- third question -->
    <div class="border-b py-5">
      <div class="questions flex justify-between items-center">
        <p class="text-veryDarkBlue text-base">Is there a mobile app?</p>
        <aside class="">
          <img
            src="./images/icon-arrow.svg"
            alt=""
            class="arrow scale-110 cursor-pointer transition-transform duration-200"
          />
        </aside>
      </div>
      <article
        class="text-grayishBlue h-0 overflow-hidden transition-all duration-200 text-base leading-relaxed md:max-w-md"
      >
        <p>
          Sed consectetur quam id neque fermentum accumsan. Praesent luctus
          vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula
          quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex
          et ultricies bibendum.
        </p>
      </article>
    </div>

    <!-- fourth question -->
    <div class="border-b py-5">
      <div class="questions flex justify-between items-center">
        <p class="text-veryDarkBlue text-base">
          What about other Chromium browsers?
        </p>
        <aside class="">
          <img
            src="./images/icon-arrow.svg"
            alt=""
            class="scale-110 arrow cursor-pointer transition-transform duration-200"
          />
        </aside>
      </div>
      <article
        class="text-grayishBlue h-0 overflow-hidden transition-all duration-200 text-base leading-relaxed md:max-w-md"
      >
        <p>
          Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat
          mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque
          non ut velit. More Info 35,000+ already joined Stay up-to-date with
          what we’re doing Contact Us Features Pricing Contact
        </p>
      </article>
    </div>

    <!-- more info -->
    <div class="text-center mt-5">
      <button
        class="bg-softBlue mt-8 shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-4 text-white font-medium rounded-md tracking-wide"
      >
        More Info
      </button>
    </div>
  </section>
</div>
