<!-- Features -->
<div>
  <!-- features heading -->
  <section class="text-center border md:order-1 max-w-lg mx-auto px-6">
    <h1 class="text-2xl md:text-3xl leading-snug font-medium text-veryDarkBlue">
      Features
    </h1>
    <p class="text-grayishBlue mt-3 md:mt-5 leading-relaxed md:max-w-md">
      Our aim is to make it quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access them
      on the go.
    </p>
  </section>

  <!-- features tab type -->
  <section
    class="mt-10 max-w-4xl mx-auto features-type px-10 md:px-0 flex items-center flex-col md:flex-row"
  >
    <p class="border-t md:border-t-0 md:border-b py-4">
      <a href="#tab-1" class="feature-link rounded-s pb-4 border-softRed"
        >Simple Bookmarking</a
      >
    </p>
    <p class="border-t md:border-t-0 md:border-b py-4">
      <a href="#tab-2" class="feature-link rounded-s pb-4 border-softRed"
        >Speedy Searching</a
      >
    </p>
    <p class="border-y md:border-t-0 md:border-b py-4">
      <a
        href="#tab-3"
        value="tab-3"
        class="feature-link link rounded-s pb-4 border-softRed"
        >Easy Sharing</a
      >
    </p>
  </section>
</div>

<!-- features -->
<!-- ---------Tab 1=========== -->
<div
  class="grid tabs grid-cols-1 mt-20 md:items-center gap-y-20 md:grid-cols-2 lg:gap-x-14 md:max-w-7xl md:mr-auto"
  id="tab-1"
>
  <!-- feature hero -->
  <section class="relative">
    <div
      class="h-[80%] bg-softBlue w-[85%] lg:top-32 md:h-[75%] absolute -z-20 top-28 rounded-r-full left-0"
    ></div>
    <div class="flex px-4 w-full justify-center md:justify-right lg:ml-16">
      <img src="./images/illustration-features-tab-1.svg" alt="" class="" />
    </div>
  </section>

  <!-- feature write up -->

  <section
    class="text-center border md:text-left md:order-1 max-w-2xl mx-auto px-6"
  >
    <h1 class="text-3xl md:text-4xl leading-snug font-medium text-veryDarkBlue">
      Bookmark in one click
    </h1>
    <p class="text-grayishBlue mt-5 md:mt-7 leading-relaxed md:max-w-md">
      Organize your bookmarks however you like. Our simple drag-and-drop
      interface gives you complete control over how you manage your favourite
      sites.
    </p>

    <div class="space-x-4 mt-10 flex flex-row justify-center md:justify-normal">
      <div>
        <button
          class="bg-softBlue shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-3 text-white font-medium rounded-md tracking-wide"
        >
          More Info
        </button>
      </div>
    </div>
  </section>
</div>

<!-- ---------Tab 2=========== -->
<div
  class="tab-2 hidden grid tabs grid-cols-1 mt-20 md:items-center gap-y-20 md:grid-cols-2 lg:gap-x-14 md:max-w-7xl md:mr-auto"
  id="tab-2"
>
  <!-- feature hero -->
  <section class="relative">
    <div
      class="h-[80%] bg-softBlue w-[82%] lg:top-32 md:h-[75%] absolute -z-20 top-28 rounded-r-full left-0"
    ></div>
    <div class="flex px-4 w-full justify-center md:justify-right lg:ml-16">
      <img src="./images/illustration-features-tab-2.svg" alt="" class="" />
    </div>
  </section>

  <!-- feature write up -->
  <section
    class="text-center border md:text-left md:order-1 max-w-2xl mx-auto px-6"
  >
    <h1 class="text-3xl md:text-4xl leading-snug font-medium text-veryDarkBlue">
      Intelligent search
    </h1>
    <p class="text-grayishBlue mt-5 md:mt-7 leading-relaxed md:max-w-md">
      Our powerful search feature will help you find saved sites in no time at
      all. No need to trawl through all of your bookmarks.
    </p>

    <div class="space-x-4 mt-10 flex flex-row justify-center md:justify-normal">
      <div>
        <button
          class="bg-softBlue shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-3 text-white font-medium rounded-md tracking-wide"
        >
          More Info
        </button>
      </div>
    </div>
  </section>
</div>

<!-- ---------Tab 3=========== -->
<div
  class="tab-3 hidden grid tabs grid-cols-1 mt-20 md:items-center gap-y-20 md:grid-cols-2 lg:gap-x-14 md:max-w-7xl md:mr-auto"
  id="tab-3"
>
  <!-- feature hero -->
  <section class="relative">
    <div
      class="h-[80%] bg-softBlue w-[82%] lg:top-32 md:h-[75%] absolute -z-20 top-28 rounded-r-full left-0"
    ></div>
    <div class="flex px-6 w-full justify-center md:justify-right lg:ml-16">
      <img src="./images/illustration-features-tab-3.svg" alt="" class="" />
    </div>
  </section>

  <!-- feature write up -->
  <section
    class="text-center border md:text-left md:order-1 max-w-2xl mx-auto px-6"
  >
    <h1 class="text-3xl md:text-4xl leading-snug font-medium text-veryDarkBlue">
      Share your bookmarks
    </h1>
    <p class="text-grayishBlue mt-5 md:mt-7 leading-relaxed md:max-w-md">
      Easily share your bookmarks and collections with others. Create a
      shareable link that you can send at the click of a button.
    </p>

    <div class="space-x-4 mt-10 flex flex-row justify-center md:justify-normal">
      <div>
        <button
          class="bg-softBlue shadow-xl px-5 hover:bg-white hover:border-2 hover:border-softBlue transition-colors cursor-pointer hover:text-softBlue py-3 text-white font-medium rounded-md tracking-wide"
        >
          More Info
        </button>
      </div>
    </div>
  </section>
</div>
